.grid-container {
  display: grid;
  grid-template-columns: 200px auto auto;
  grid-template-rows: 150px auto 75px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "navbar main aside"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: red;
}

nav {
  grid-area: navbar;
  background-color: grey;
}

main {
  grid-area: main;
  background-color: aqua;
}

aside {
  grid-area: aside;
  background-color: pink;
}
footer {
  grid-area: footer;
  background-color: aqua;
}
